.exerciceBox {

    width: 100%;

    .item {
        display: flex;
        margin-top: 1em;
        align-items: center;

        .divider {
            width: 30px;
            text-align: center;
        }
    }

    .KGSection {
        display: flex;
        flex: 1.5;
        align-items: center;
        border: solid 2px var(--secondary-color);
        color: var(--text-color);
        border-radius: 100px;

        input {
            border: none;
            border-right: solid 2px var(--secondary-color);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        span {
            padding: 0  1em;
        }
    }

    .Indicator {
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            width: 20px;
            height: 20px;
        }
    }
}